<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--Title for this web page -->
<title>Employee Management</title>
<!--linking the CSS file -->
<link rel="stylesheet" href="in-style.css"/> 
<!--linking Online Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<h1>EMPLOYEE MANAGEMENT</h1> 
        <div class="container">               
        	<div class="addform">
		        <h3 class="heading">Enter the Employee Details </h3>
			    	<form action="#" th:action="@{/save}" th:object="${employee}" method="post">
				        
				        <label for="empid">ID :</label><br>
		                <input type="text" th:field="*{id}" required/><br>
		
		                <label for="empname">Name :</label><br>
		                <input type="text" th:field="*{name}" required/><br>
		
		                <label for="empemail">Email :</label><br>
		                <input type="text" th:field="*{email}" required/><br>
		
		                <label for="emploc">Location :</label><br>
		                <input type="text" th:field="*{location}" required/><br>
		
		                <input type="submit" value="ADD" name="submit"/>
    				</form>
    			</div>
        	
                
                <div class="idsearch">
                    <h3 class="heading">Enter the Employee Id </h3>
                    <form action="#" th:action="@{/display}" th:object="${employee}" method="post">
                            <input type="text" th:field="*{id}" required/><br>
                            <button>Search</button>
                    </form>
                </div>
        
        	
                <div class="listall">
                        <h3 class="heading">Click below to view<br> all Employees</h3>
                        <a href="/displayAll"><button>View all </button></a>     
                </div>
        </div>
    </body>
</html>
